
button{
    width: 70px;
    margin-top: 10px;
}

input{
    width: 50%;
}

.form-group{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}
.container{
    display: flex;
    justify-content: center;
}
